.how-it-works {
    background-color: #333333;
}

.how-it-works_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.how-it-works_content div p {
    color: #E8E8E8;
    font-size: 36px;
}